.card {
  width: 276px;
  height: 424px;
  display: flex;
  flex-direction: column;
}

.content {
  margin-top: 16px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  display: flex;
  justify-content: space-between;

  margin-bottom: 8px;
  align-items: baseline;
}
.title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
}
.accent {
  color: var(--button);
}

.price {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;

  color: var(--main);
}
.tagsRow {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: var(--gray);
  display: flex;
  flex-wrap: nowrap;
  gap: 6px;
}

.tagsRow span {
  display: flex;
  align-items: center;
}

.tagsRow span:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: var(--gray-light);
  margin-left: 6px;
}

.btn {
  width: 276px;
  height: 44px;
  background: var(--button);
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover,
.btn:focus {
  background-color: var(--button-hover);
}
.imageWrapper {
  position: relative;
  width: 100%;
  height: 248px;
  overflow: hidden;
  border-radius: 12px;
}

.favoriteBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 10;
  background: transparent;
  border: none;
  cursor: pointer;
}
.details {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 40px;
}
