.mileageInputs {
  display: flex;
}
.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.inputLeft,
.inputRight {
  width: 180px;
  height: 48px;
  background: var(--inputs);
  border: none;
  outline: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  padding-left: 75px;
  padding-right: 15px;
}

.inputLeft {
  border-radius: 14px 0 0 14px;
  border-right: 1px solid rgba(138, 138, 137, 0.2);
}

.inputRight {
  border-radius: 0 14px 14px 0;
}
.inputLabel {
  position: absolute;
  left: 18px;
  font-size: 18px;
  color: var(--main);
}

.catalogSection {
  padding-top: 150px;
  display: flex;
  justify-content: center;
}
.filterGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-size: 14px;
  color: #8a8a89;
}

.filterForm {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  justify-content: center;
  align-items: flex-end;
  margin-top: 50px;
}
.selectBrand,
.selectPrice {
  height: 48px;
  background-color: var(--inputs);
  border: none;
  border-radius: 14px;
  padding: 0 18px;
  font-size: 18px;
  color: var(--main);
  outline: none;
  cursor: pointer;
}
.selectBrand {
  width: 224px;
}
.selectPrice {
  width: 125px;
}

.searchBtn {
  height: 48px;
  padding: 14px 44px;
  background-color: var(--button);
  color: var(--white);
  border-radius: 12px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.searchBtn:hover {
  background: var(--button-hover);
  transition: background 0.3s ease;
}
