.catalogSection {
  padding-top: 150px;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1216px;
  padding: 0 15px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 29px;
  row-gap: 50px;
  margin-top: 50px;
}

.loadMoreBtn {
  background: none;
  border: 1px solid var(--button);
  border-radius: 12px;
  width: 156px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;

  cursor: pointer;
  transition: color 250ms ease;
  margin: 60px auto;
}

.loadMoreBtn:hover,
.loadMoreBtn:focus {
  color: var(--button-hover);
  transition: color 250ms ease;
}
