.headerContainer {
  border-bottom: 1px solid var(--badges);
  padding: 24px 120px;
  width: 100%;
  height: 68px;

  background-color: var(--badges);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav {
  display: flex;
  gap: 32px;
  width: 136px;
  height: 20px;
}

.navLink {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: var(--main);
}

.navLink:hover,
.navLink:focus {
  color: var(--button-hover);
}
