/* na dorabotku. Ne zabud!! */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 40px 60px;
}
.contentWrapper {
  display: flex;
  gap: 72px;
  align-items: flex-start;
}

.mainImage {
  border-radius: 20px;
  object-fit: cover;
  margin-bottom: 24px;
}
.infoSide {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.headerBlock {
  display: flex;
  align-items: baseline;
  gap: 12px;
}
.title {
  font-family: var(--font-manrope);
  font-size: 28px;
  font-weight: 600;
  color: #121417;
}
.idLabel {
  font-size: 14px;
  color: rgba(18, 20, 23, 0.5);
}
.addressBlock {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
}

.price {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--button);
}

.description {
  font-size: 16px;
  line-height: 1.5;
  color: #121417;
  margin-bottom: 60px;
}

.subTitle {
  font-size: 18px;
  font-weight: 600;
}

.specItem {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}
.accessoriesGrid {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.accessoryItem {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}
.listItem {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  line-height: 125%;
}

.conditionsList {
  list-style: none;
  padding: 0;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.specsListVertical {
  list-style: none;
  padding: 0;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.accent {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
}
